body
{
    background-color: #000000;
    color: lightgray;
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

#pojemnik
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

#plansza
{
    width: 900px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#szubienica
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alfabet
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.litera
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    border-radius: 15px;
    float: left;
    cursor: pointer;
}

.litera:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid white;

}

.reset
{
    cursor: pointer;
    font-size: 48px;
}

.reset:hover
{
    cursor: pointer;
    color: green;
    font-size: 48px;
}

#tytul1
{
    font-size: 148px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
#start1
{
    font-size: 70px;
}
#start1:hover
{
    color: green;
    cursor: pointer;
    text-decoration: underline;
}
.wybierz
{
    margin-block-start: 0px;
    margin-block-end: 20px;
}

.kategoria:hover
{
    color: green;
    cursor: pointer;
    text-decoration: underline;
}